* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'StratosSkyeng', sans-serif;
    margin: 220px 500px
}

.card {
    margin: 50px 300px;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    width: 358px;
    background-color: #F5F5F5;
}
h1, h2 {
    width: 297px;
    font-weight: normal;
    color: #363062;
    padding: 10px auto;
}
h1 {
    font-size: 24px;
    font-weight: bold;
}
img {
    width: 298px;
}

h2 {
    font-size: 14px;
    text-align: left;
    padding-left: 30px ;
}

/* Напиши свой CSS-код тут */

.card__button {
    border: 2px solid black;
    border-radius: 25px;
    background-color: #F99417;
    padding: 5px 20px;
    /* Это чтобы при наведении на кнопку курсор мыши менялся на руку */
    cursor: pointer;
    margin-right: 230px;
    margin-bottom:25px;
    margin-top: 30px;
}

/* Эффект наведения курсора мыши на элемент с классом card__button */
.card__button:hover {
    /* Прозрачность всего элемента  - такое значение говорит браузеру показывать только 70% элемента по прозрачности */
    opacity: 0.7;
}

.icon {
    width: 20px;
    color: #363062;
}

.Photo {
    margin-top: 30px;
}